doctype html
html(lang="ko")
  head
      title #{pageTitle} | #{siteTitle}
      link(rel="stylesheet" href="https://unpkg.com/mvp.css")
  body
      header
          h1=pageTitle
          nav
              ul
                  if loggedIn 
                    li
                        a(href="/") Home
                    li
                        a(href="/videos/upload") Upload Video
                    li
                        a(href="/users/edit") Edit Profile
                    li
                        a(href="/users/logout") Log Out
                    li
                        a(href="/search") Search
                    li
                  else 
                    li
                        a(href="/join") Join
                    li
                        a(href="/login") Login

                
                
      main
          block content
