main 
  form(action="/filter", method="GET")
    input(name="year", placeholder="Year", type="number")
    input(name="rating", placeholder="Rating", type="number", step="0.1")
    input(type="submit", value="Search")
  ul 
    each movie in movies 
      +movie(movie)
    else 
      li Sorry. Nothing Found.