/* Default */
@import "reset.css";
@import "variables.css";

/* Components */
@import "components/status-bar.css";
@import "components/nav-bar.css";
@import "components/alt-nav-bar.css";
@import "components/screen-header.css";
@import "components/alt-screen-header.css";
@import "components/user-component.css";
@import "components/notification.css";
@import "components/icon-row.css";
@import "components/no-mobile.css";

/* Screens */
@import "screens/login.css";
@import "screens/home.css";
@import "screens/browse.css";
@import "screens/locker.css";
@import "screens/player.css";
@import "screens/settings.css";

body {
  color: white;
  background-color: #030303;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

/* body 에 다른 font 를 사용할 경우 */
/* .status-bar { 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
} */

.login {
  color: #030303;
  background-color: white;
}

.main-screen {
  padding: 0px var(--horizontal-space);
}
