.home-main__tag {
  top: 100px;
  position: fixed;
  width: 500px;
  padding: 20px 0px 30px 20px;
  display: flex;
  align-items: center;
  overflow-x: scroll;
  background-color: var(--dark);
}

.home-main__tag > span {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0px 12px;
  height: 44px;
  font-size: 18px;
  border: 1px solid white;
  border-radius: 10px;
  background-color: #443d32;
  white-space: nowrap;
  margin-right: 10px;
}

.home-screen {
  margin-top: 200px;
  height: 90vh;
}

.replay-screen__title {
  margin-top: 110px;
  padding: 10px 0px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.replay-screen__title > span:first-child {
  font-size: 30px;
  font-weight: 600;
}

.replay-screen__title > span:last-child {
  font-size: 13px;
  font-weight: 600;
  padding: 6px 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 15px;
}

.replay-screen__lists {
  margin: 17px 0px;
  overflow-x: scroll;
}

.replay-screen__list {
  margin-bottom: 23px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.replay-screen__list > li {
  margin-right: 15px;
}

.replay-screen__name {
  font-size: 12px;
}

.choice-screen__title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.choice-screen__title > span:first-child {
  font-size: 14px;
  opacity: 0.7;
  margin-bottom: 7px;
}

.choice-screen__title > span:last-child {
  font-size: 30px;
  font-weight: 600;
}

.choice-screen__lists {
  margin: 20px 0px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  overflow-x: scroll;
}

.choice-screen__list {
  margin-right: 33px;
}

.choice-screen__section {
  width: 320px;
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: space-between;
}

.choice-screen__text {
  width: 100%;
  height: 100%;
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.choice-screen__text > span,
.home-popup__text > span {
  margin: 4px 0px;
  font-size: 12px;
}

.choice-screen__text > span:last-child,
.home-popup__text > span:last-child {
  opacity: 0.7;
}

.replay-screen__img,
.choice-screen__img,
.home-popup__img {
  border-radius: 10%;
}

.home-popup {
  position: fixed;
  margin-bottom: 73px;
  border-bottom: 1px solid white;
  bottom: 0;
  width: 100%;
  height: 70px;
  padding: 0px 20px;
  background-color: #212121;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.home-popup__info {
  width: 100%;
  display: flex;
  align-items: center;
}

.home-popup__text {
  margin-left: 20px;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.home-popup__btn {
  width: 40%;
  margin: 0px 32px;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
