.alt-header {
  top: 40px;
  position: fixed;
  width: 100%;
  box-sizing: border-box;
}

.alt-header__div {
  padding: 0px 30px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alt-header__title {
  font-weight: 600;
  font-size: 26px;
}

.alt-header__column {
  width: 33%;
}

.alt-header__column:first-child {
  margin-right: auto;
}

.alt-header__column:nth-child(2) {
  text-align: center;
}

.alt-header__column:last-child {
  margin-left: auto;
  display: flex;
  justify-content: flex-end;
}

.alt-header__column span:last-child {
  margin-left: 15px;
}
