body {
  display: flex;
  justify-content: center;
  align-items: center;
}

canvas {
  border: 3px solid rgba(0, 0, 0, 0.3);
}

#button {
  margin-left: 10px;
}

#color-change {
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
}

#button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

button {
  width: 100px;
  height: 30px;
}
