extends layout.pug

block content 
  h4 Change Title of Story
  form(method="POST")
    input(name="title", placeholder="Story Title", value=story.title, required)
    input(value="Save", type="submit")